<p id="notice"><%= notice %></p>

<h1>Listing Quotes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Client</th>
      <th>Pages</th>
      <th>Images</th>
      <th>Hosting</th>
      <th>Domain name</th>
      <th>Design</th>
      <th>Terms conditions</th>
      <th>User registration</th>
      <th>User registration details</th>
      <th>Budget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.client %></td>
        <td><%= quote.pages %></td>
        <td><%= quote.images %></td>
        <td><%= quote.hosting %></td>
        <td><%= quote.domain_name %></td>
        <td><%= quote.design %></td>
        <td><%= quote.terms_conditions %></td>
        <td><%= quote.user_registration %></td>
        <td><%= quote.user_registration_details %></td>
        <td><%= quote.budget %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
