<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @quote.client %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @quote.pages %>
</p>

<p>
  <strong>Images:</strong>
  <%= @quote.images %>
</p>

<p>
  <strong>Hosting:</strong>
  <%= @quote.hosting %>
</p>

<p>
  <strong>Domain name:</strong>
  <%= @quote.domain_name %>
</p>

<p>
  <strong>Design:</strong>
  <%= @quote.design %>
</p>

<p>
  <strong>Terms conditions:</strong>
  <%= @quote.terms_conditions %>
</p>

<p>
  <strong>User registration:</strong>
  <%= @quote.user_registration %>
</p>

<p>
  <strong>User registration details:</strong>
  <%= @quote.user_registration_details %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @quote.budget %>
</p>

<p>
  <strong>User:</strong>
  <%= @quote.user_id %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
