<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Page Heading
            <small>Secondary Text</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a target="_blank" href="http://book.chesnowitz.com/">
            <%= image_tag "creative/portfolio/6.jpg", class: "img-responsive", :target => "_blank" %>
        </a>
        <h3>
            <a target="_blank" href="http://book.chesnowitz.com/">Online Marketplace</a>
        </h3>
        <p>
          A book store that provides users to buy and sell books.  
          Users can upload books as PDF files along with a cover image.  
          Products can be bought by the general public and by users who have products for sale.  
        </p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a target="_blank" href="http://scrape.chesnowitz.com/">
            <%= image_tag "creative/portfolio/1.jpg", class: "img-responsive", alt: "" %>
        </a>
        <h3>
            <a target="_blank" href="http://scrape.chesnowitz.com/">Rotten Miner</a>
        </h3>
        <p>This app shows an example of Data Mining.  Here Users can grab data from the 
        "Rotten Tomato's website and then save this info inside their profile.  
        Other Users can view and add comments on each review.</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a target="_blank" href="http://stock.chesnowitz.com/">
            <%= image_tag "creative/portfolio/2.jpg", class: "img-responsive", alt: "" %>
        </a>
        <h3>
            <a target="_blank" href="http://stock.chesnowitz.com/">Porfolio</a>
        </h3>
        <p>
          Here users can track stocks and then save the stock to their portfolio.  
          Users can also follow other users and track and compare portfolios.  
        </p>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-md-4 portfolio-item">
        <a target="_blank" href="http://saasy.chesnowitz.com/">
            <%= image_tag "creative/portfolio/3.jpg", class: "img-responsive", alt: "" %>
        </a>
        <h3>
            <a target="_blank" href="http://saasy.chesnowitz.com/">SaaSy App</a>
        </h3>
        <p>
          A Software as a Service application that allows "admin users" to add projects,  
          Projects can have "artifacts" such as images, and PDF files.  
          Admin users can invite users to join the project for collaboration.  
          This app uses cloud based storage and stripe payment services.
        </p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a target="_blank" href="http://photo.chesnowitz.com/">
            <%= image_tag "creative/portfolio/4.jpg", class: "img-responsive", alt: "" %>
        </a>
        <h3>
            <a target="_blank" href="http://photo.chesnowitz.com/">Photo App</a>
        </h3>
        <p>
          A Pinterest style site that allows user to share photos, add comments and socialize.
        </p>
    </div>
    <div class="col-md-4 portfolio-item">
        <a target="_blank" href="http://blog.chesnowitz.com/">
            <%= image_tag "creative/portfolio/6.jpg", class: "img-responsive", alt: "" %>
        </a>
        <h3>
            <a target="_blank" href="http://blog.chesnowitz.com/">Blog</a>
        </h3>
        <p>
          A social site that allows Users to blog and comment on other users posts.  
          A cool idea for building a social network.
        </p>
    </div>
</div>



<hr>

