<% @posts.each do |post| %>

<h2><%= link_to post.title, post %></h2>
<p><%= post.content %></p>
<h4>Posted By: <%=  post.user.username %></h4>

<p>Was Posted: <%= time_ago_in_words(post.created_at) %> ago</p>
  
<% end %>

<%= link_to "New Post", new_post_path, class: "btn btn-default btn-xs" %>